@charset "utf-8";
/********** css responsive init  **********/
.container{width: 1200px; margin: 0 auto}
h1{text-align: center;margin-bottom: 10px;}
.navbar{position: relative;}
.navbar ul{display: flex;height: 50px;}
.navbar ul li{
    flex:1 1 auto;
    /* background: skyblue; */
    position: relative; 
}
.navbar ul li a{
    display: flex;justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar ul li:after{
    content:"";display: block;
    width: 8px;height: 8px;
    border-radius:4px;
    background: red;
    position: absolute;
    top: 0;left: 50%;transform: translateX(-50%);
    opacity:0;transition: 0.3s;
}
.navbar ul li:hover:after{
    opacity: 1;
}
.bar{
    position: absolute;
    width: calc( 100% / 5 );
    height: 3px;background: red;
    bottom: 0;
    left:0;transition: 0.3s;
    opacity: 0;
}

.visual{
    height: 200px;background: #ddd;
    display: flex;justify-content: center;
    align-items: center;
}


















/***************** css responsive *****************/
@media (max-width: 1399px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}