@charset "utf-8";

.visual{width: 1000px;margin: 0 auto;position: relative;}
.visual img.btnNext,
.visual img.btnPrev
{position: absolute; top: 50%;cursor:pointer;margin-top: -50px;}

.visual img.btnNext{right: 0;}
.visual .txtWrap{
position: absolute;
right: 30px;top:60px;width: 450px;
}
.visual .txtWrap h2{font-size: 2.5em;}
.visual .txtWrap h2:after{content: "";display: block;
width: 100%;height: 2px;background-color: black;
margin: 10px 0;}
.visual .txtWrap p{margin-bottom: 1em;}
.visual .txtWrap a{display:inline-block;
padding: 0.7em 4em;border-radius: 2em;
border: 1px solid #000;
transition: 0.3s;}

.visual .txtWrap a:hover{
    background-color: black;color: #fff;
}

.slideTap {position: absolute;left: -100px;top:0;height: 100%;width: 100px;}
.slideTap a.active{background-color: red;color: white;}
.slideTap a{height:  calc( 100% / 3 );
    
    display: flex;justify-content: center;align-items: center;

background: orange;}

.slideTap a:hover{background-color: red;color: white;}

.bx-wrapper {
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: 0px none;
    background: #fff;
}