$han:blue;
$p-font-color:#333;
$font-size:3em;

a:link,a:visited{
    text-decoration: none;
    color:$p-font-color
}
ul,li{list-style: none;}

h2{
    font-size: $font-size;
    color:red;
    background: $han;
}

// .nav{width: 500px;}
// .nav li{}
// .nav li a{}


/*  han */
.nav{
    width: 500px;
    margin: 0 auto;
    > li{
        height: 40px;
        float: left;
         > a{
            display: block;
            line-height: 40px;
        }

        &:hover{
            background: skyblue;
        }
        &.active{
            background: blue;
        }
    }
    &:after{
        content:"";
        display: block;
        clear: both;
    }
    
}

%btn{
    width: 100px;
    height: 40px;
    color:white;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 40px;
    text-align: center;
    &:hover{
        background: skyblue;
    }
}

.btn-blue{
    @extend %btn;
    background: blue;
}

.btn-green{
    @extend %btn;
    background: green;
}

.btn-red{
    @extend %btn;
    background: red;
}