@charset "utf-8";

#gallery{width: 824px;margin: 0 auto;}
#image{width: 760px;margin: 0 auto; margin-bottom: 10px;}
#image>p{display: none;}
#thumbnail{display: flex;}
#thumbnail .left,#thumbnail .right{width: 32px;display: flex;justify-content: center;align-items: center;}
#thumbnail .container{width: 760px;overflow: hidden;}
.itemWrap{width: 2280px;position: relative;transition: .3s;left: 0;}
.itemWrap li{float:left;margin-right: 8px;cursor: pointer;}