@charset "utf-8";

html,body{height: 100%;}
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
.clearfix:after{content: "";display: block;clear: both;}
img{display: block;}
a:link,a:visited{text-decoration: none;color: #333;}

body{height: 400vh;background: #210002;overflow-x: hidden;}
.header{
    height: 100vh;background: #feae1b;
    position: relative;
}
.layer{
    width: 100vw;height: 100vh;
    position: absolute;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 600px;

}

.p0{background-image: url(../images/parallax0.png);}
.p1{background-image: url(../images/parallax1.png);}
.p2{background-image: url(../images/parallax2.png);}
.p3{background-image: url(../images/parallax3.png);}
.p4{background-image: url(../images/parallax4.png);}
.p5{background-image: url(../images/parallax5.png);}
.p6{background-image: url(../images/parallax6.png);}
.p7{background-image: url(../images/parallax7.png);}
.p8{background-image: url(../images/parallax8.png);}